/* Fondo de imagen */
body {
  background-image: url("../img/Tierra.png");
  background-size: cover; /* Para ajustar la imagen al tamaño del cuerpo */
  background-position: center; /* Para centrar la imagen */
}

/* Posicionamiento flotante */
#formulario {
  float: right; /* Ejemplo */
}

/* Propiedades para el borde */
#contenido {
  border: 1px solid white; /* Ejemplo */
}

/* Propiedades de las listas */
ul {
  list-style-type: circle; /* Ejemplo */
}
.contenedor-formulario {
  width: 60%;
  margin: 0 auto;
}

.campo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* Unidades de Medidas, Unidades relativas, Unidades absolutas y Porcentajes */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%; /* Unidades de Medidas */
  padding: 8px;
  margin-bottom: 20px; /* Unidades relativas */
}

/* Pseudo-clases y Pseudo-elementos */
input[type="submit"]:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

/* Control de flujo de cajas */
.formulario {
  display: flex; /* Cambio de disposición */
  flex-direction: column; /* Apilamiento vertical */
}

/* Posicionamiento absoluto y relativo */
.formulario {
  position: relative; /* Posicionamiento relativo */
}

.footer {
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Profundidad (z-index) */
.footer {
  z-index: 1;
}
h1 {
  font-size: 32px;
  background: linear-gradient(to right, yellow, red); /* Degradado de amarillo a rojo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body{
  color:white;
}