/* Propiedades CSS que intentaremos utilizar */
header {
  margin: 10px;
}

main {
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
.contenedor-foro {
  width: 80%;
  margin: 0 auto;
}

.temas-relacionados {
  margin-top: 30px;
}

.temas-relacionados ul {
  padding: 0;
}

.temas-relacionados li {
  list-style-type: square;
}
