/* Propiedades CSS que intentaremos utilizar */
header {
  margin: 15px;
}

main {
  padding: 30px;
}

section {
  border: 2px dashed #333;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  color: #666;
}

ul {
  list-style-type: none;
}

a {
  color: #9900cc;
}

a:hover {
  font-weight: bold;
}
.contenedor-wiki {
  width: 70%;
  margin: 0 auto;
}

.contenido-relacionado {
  margin-top: 20px;
}

.contenido-relacionado ul {
  padding: 0;
}

.contenido-relacionado li {
  list-style-type: circle;
}
/* Fondo de imagen */
body {
  background-image: url('ruta/de/tu/imagen.jpg');
  background-size: cover; /* Para ajustar la imagen al tamaño del cuerpo */
  background-position: center; /* Para centrar la imagen */
}
.contenido {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.banner-izquierda {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
}

.banner-derecha {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
}