/* Propiedades CSS que intentaremos utilizar */
header {
  margin: 10px;
}

main {
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
.contenedor-foro {
  width: 80%;
  margin: 0 auto;
}

.temas-relacionados {
  margin-top: 30px;
}

.temas-relacionados ul {
  padding: 0;
}

.temas-relacionados li {
  list-style-type: square;
}
/* Fondo de imagen */
body {
  background-image: url('../img/Tierra.png');
  background-size: cover; /* Para ajustar la imagen al tamaño del cuerpo */
  background-position: center; /* Para centrar la imagen */
}
/* Unidades de Medidas, Unidades relativas, Unidades absolutas y Porcentajes */
.foro-titulo {
  font-size: 2em; /* Unidades de Medidas */
  margin-bottom: 20px; /* Unidades relativas */
}

.mensaje {
  padding: 10px; /* Unidades absolutas */
  margin-bottom: 20px;
}

/* Selectores de Clase y Selectores Compuestos */
.mensaje-usuario {
  font-weight: bold; /* Selectores de Clase */
}

.mensaje .mensaje-contenido {
  font-style: italic; /* Selectores Compuestos */
}

/* Pseudo-clases y Pseudo-elementos */
.mensaje:hover {
  background-color: #f0f0f0; /* Cambio de color al pasar el ratón */
}

/* Control de flujo de cajas */
.foro-contenido {
  display: flex; /* Cambio de disposición */
  flex-wrap: wrap; /* Envolver elementos en múltiples líneas */
}

/* Posicionamiento absoluto y relativo */
.foro-contenedor {
  position: relative; /* Posicionamiento relativo */
}

.foro-anuncio {
  position: absolute; /* Posicionamiento absoluto */
  top: 20px;
  right: 20px;
}

/* Profundidad (z-index) */
.foro-anuncio {
  z-index: 1;
}
h1 {
  font-size: 32px;
  background: linear-gradient(to right, yellow, red); /* Degradado de amarillo a rojo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
  color:white;
}